<ion-list>
  <ion-item-group>
    <ion-item-divider [ngClass]="{
      'ambiente-fogo': tipo=='fogo',
      'ambiente-agua': tipo=='agua',
      'ambiente-grama': tipo=='grama',
      'ambiente-eletrico': tipo=='elétrico'
    }">
      <ion-row>
        <ion-col>
          {{ tipo |uppercase }}
        </ion-col>
        <ion-col text-end>
          <button style="background-color: transparent" ng-init="clicked = false" (click)="clicked=!clicked">
            <ion-icon *ngIf="!clicked" name="remove"></ion-icon>
            <ion-icon *ngIf="clicked" name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item-divider>
    <ion-item-sliding [class.esconde]="clicked" *ngFor="let ambiente of ambientes">
      <ion-item (click)="goAmbiente(ambiente)">
        <ion-row>
          <ion-col>
            <h2>{{ ambiente.nome }}</h2>
          </ion-col>
          <ion-col text-end>
            <ion-badge [ngClass]="{
              'ambiente-fogo': tipo=='fogo',
              'ambiente-agua': tipo=='agua',
              'ambiente-grama': tipo=='grama',
              'ambiente-eletrico': tipo=='elétrico'
            }">{{ ambiente.numPokemons }}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="deletar(ambiente)" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>
</ion-list>