<ion-header>

 <custom-header-menu [titulo]="'Pokemons do Zoooo'"></custom-header-menu>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item-divider class="ambiente-fogo">
        <ion-row>
          <ion-col>
            FOGO
          </ion-col>
          <ion-col text-end>
            <button 
              style="background-color: transparent" 
              ng-init="clicked1=false" 
              (click)="clicked1=!clicked1">
              <ion-icon *ngIf="!clicked1" name="remove"></ion-icon>
              <ion-icon *ngIf="clicked1" name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item-divider>
      <ion-item [class.esconde]="clicked1" 
        *ngFor="let pokemon of pokemons |filtraPokemonTipo:'fogo'">
        <ion-thumbnail item-start>
          <img [src]="pokemon.foto"/>
        </ion-thumbnail>
        <h2>{{ pokemon.nome }}</h2>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider class="ambiente-agua">
          <ion-row>
            <ion-col>
              AGUA
            </ion-col>
            <ion-col text-end>
              <button 
                style="background-color: transparent" 
                ng-init="clicked2=false" 
                (click)="clicked2=!clicked2">
                <ion-icon *ngIf="!clicked2" name="remove"></ion-icon>
                <ion-icon *ngIf="clicked2" name="add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item-divider>
        <ion-item [class.esconde]="clicked2" 
          *ngFor="let pokemon of pokemons |filtraPokemonTipo:'agua'">
          <ion-thumbnail item-start>
            <img [src]="pokemon.foto"/>
          </ion-thumbnail>
          <h2>{{ pokemon.nome }}</h2>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
          <ion-item-divider class="ambiente-grama">
            <ion-row>
              <ion-col>
                GRAMA
              </ion-col>
              <ion-col text-end>
                <button 
                  style="background-color: transparent" 
                  ng-init="clicked3=false" 
                  (click)="clicked3=!clicked3">
                  <ion-icon *ngIf="!clicked3" name="remove"></ion-icon>
                  <ion-icon *ngIf="clicked3" name="add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-item-divider>
          <ion-item [class.esconde]="clicked3" 
            *ngFor="let pokemon of pokemons |filtraPokemonTipo:'grama'">
            <ion-thumbnail item-start>
              <img [src]="pokemon.foto"/>
            </ion-thumbnail>
            <h2>{{ pokemon.nome }}</h2>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider class="ambiente-eletrico">
              <ion-row>
                <ion-col>
                  ELÉTRICO
                </ion-col>
                <ion-col text-end>
                  <button 
                    style="background-color: transparent" 
                    ng-init="clicked4=false" 
                    (click)="clicked4=!clicked4">
                    <ion-icon *ngIf="!clicked4" name="remove"></ion-icon>
                    <ion-icon *ngIf="clicked4" name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-item-divider>
            <ion-item [class.esconde]="clicked4" 
              *ngFor="let pokemon of pokemons |filtraPokemonTipo:'eletrico'">
              <ion-thumbnail item-start>
                <img [src]="pokemon.foto"/>
              </ion-thumbnail>
              <h2>{{ pokemon.nome }}</h2>
            </ion-item>
          </ion-item-group>
  </ion-list>
</ion-content>
