<ion-header>
  <ion-toolbar color="darkprimary">
    <ion-title>Adicionar Pokemon</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input [(ngModel)]="pokemon.nome"></ion-input>
  </ion-item>

  <br>
  <button (click)="addPokemon()" ion-button color="darkprimary" block round>
    Adicionar
  </button>
</ion-content>
