page-home {
    .container {
        margin-top: 15px;
        font-family: 'Arial Narrow', Arial, sans-serif;
        font-weight: 'bold';
        font-size: 20px;
        height: 500px;
        background-color: color($colors, light);
    }

    .badge {
        font-size: 20px;
    }
}
