<ion-header>
  <custom-header-menu [titulo]="'Zooooo'"></custom-header-menu>
</ion-header>

<ion-content padding>
  <h1 text-center>Resumo do Zooo</h1>
  <div class="container">
    <h1 text-center>Ambientes</h1>
    <ion-grid>
      <linha [label]="'Ambientes atuais'" [cor]="'primary'" [quantidade]="infoAmbiente.ambientesAtuais">
      </linha>
      <linha [label]="'Ambientes fogo'" [cor]="'ambientefogo'" [quantidade]="infoAmbiente.ambientesFogo">
      </linha>
      <linha [label]="'Ambientes agua'" [cor]="'ambienteagua'" [quantidade]="infoAmbiente.ambientesAgua">
      </linha>
      <linha [label]="'Ambientes grama'" [cor]="'ambientegrama'" [quantidade]="infoAmbiente.ambientesGrama">
      </linha>
      <linha [label]="'Ambientes eletrico'" [cor]="'ambienteeletrico'" [quantidade]="infoAmbiente.ambientesEletrico">
      </linha>
    </ion-grid>

    <h1 text-center>Pokemons</h1>
    <ion-grid>
      <linha [label]="'Pokemons atuais'" [cor]="'primary'" 
      [quantidade]="infoPokemons.pokemonsAtuais">
      </linha>
      <linha [label]="'Tipo fogo'" [cor]="'ambientefogo'" 
      [quantidade]="infoPokemons.pokemonsFogo">
      </linha>
      <linha [label]="'Tipo agua'" [cor]="'ambienteagua'" 
      [quantidade]="infoPokemons.pokemonsAgua">
      </linha>
      <linha [label]="'Tipo grama'" [cor]="'ambientegrama'" 
      [quantidade]="infoPokemons.pokemonsGrama">
      </linha>
      <linha [label]="'Tipo eletrico'" [cor]="'ambienteeletrico'" 
      [quantidade]="infoPokemons.pokemonsEletrico">
      </linha>
    </ion-grid>
  </div>
</ion-content>