<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="darkprimary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="abrirPagina('zoo')">
                Zooooo
            </button>
            <button menuClose ion-item (click)="abrirPagina('ambientes')">
                Ambientes
            </button>
            <button menuClose ion-item (click)="abrirPagina('pokemons')">
                Pokemons
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
