<ion-list>
    <ion-item-sliding *ngFor="let pokemon of pokemons">
        <ion-item >
            <ion-thumbnail item-start>
                <img [src]="pokemon.foto">
            </ion-thumbnail>
            <h2>{{pokemon.nome}}</h2>
        </ion-item>

        <ion-item-options side="right">
            <button (click)="excluir(pokemon)" ion-button color="danger" item-left>
                Excluir
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
