<ion-header>
  <ion-navbar [color]="cor">
    <ion-title>{{ ambiente.nome }}</ion-title>
    <ion-buttons end>
        <button (click)="abrirAddPokemonModal()" ion-button icon-right>
          Add
          <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [color]="cor">
    <ion-segment [color]="corBotoes" [(ngModel)]="aba">
      <ion-segment-button selected value="pokemons">
        Pokemons
      </ion-segment-button>
      <ion-segment-button value="config">
        Configurações
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="aba">
    <div *ngSwitchCase="'pokemons'">
      <pokemon-lista-simples [ambiente]="ambiente" [pokemons]="pokemons"></pokemon-lista-simples>
    </div>
    <div *ngSwitchCase="'config'">
      <configuracoes-component [ambiente]="ambiente" [corBotao]="cor"></configuracoes-component>
    </div>
  </div>
</ion-content>
