<ion-header>
    <custom-header-menu [titulo]="'Ambientes'">

    </custom-header-menu>
</ion-header>

<ion-content padding>
    <ion-fab right bottom>
        <button (click)="addAmbiente()" ion-fab style="color:white" color="secondary">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <h2 ion-text color="secondarytext" text-center *ngIf="
            ambientesFogo && ambientesFogo.length == 0 &&
            ambientesAgua && ambientesAgua.length == 0 &&
            ambientesGrama && ambientesGrama.length == 0 &&
            ambientesEletrico && ambientesEletrico.length == 0
        ;else tela">
        Este zoo anda meio vazio!
    </h2>
    <ng-template #tela>
        <lista-ambientes-component 
            [class.esconde]="ambientesFogo && ambientesFogo.length==0" 
            [tipo]="'fogo'" [ambientes]="ambientesFogo">
        </lista-ambientes-component>
        <lista-ambientes-component 
            [class.esconde]="ambientesAgua && ambientesAgua.length==0"
            [tipo]="'agua'" 
            [ambientes]="ambientesAgua">
        </lista-ambientes-component>
        <lista-ambientes-component 
            [class.esconde]="ambientesGrama && ambientesGrama.length==0"
            [tipo]="'grama'" 
            [ambientes]="ambientesGrama">
        </lista-ambientes-component>
        <lista-ambientes-component 
            [class.esconde]="ambientesEletrico && ambientesEletrico.length==0"
            [tipo]="'elétrico'" 
            [ambientes]="ambientesEletrico">
        </lista-ambientes-component>
    </ng-template>


</ion-content>