<ion-list>
  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input [(ngModel)]="ambiente.nome" 
      placeholder="Aquario">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="range-label">
      <ion-row align-items-center>
        <ion-col col-4>
          <h2>Temperatura</h2>
        </ion-col>
        <ion-col text-end>
          <ion-badge 
          [color]="ambiente.temperatura>30 ? 'danger':'agua'"
          >{{ambiente.temperatura}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-label>
    <ion-range
    [color]="ambiente.temperatura>30 ? 'danger':'agua'"
     min="10" max="50" snaps="true"
     step="4" pin="true"
     [(ngModel)]="ambiente.temperatura"
     >
      <ion-icon color="agua" range-left small name="thermometer">
      </ion-icon>
      <ion-icon color="danger" range-right name="thermometer">
      </ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Ativado</ion-label>
    <ion-toggle checked="true" 
      [(ngModel)]="ambiente.ativado">
  </ion-toggle>
  </ion-item>
</ion-list>
<br/>
<button (click)="salvarAmbiente()" ion-button
  [color]="cor" block round>
  Salvar
</button>